@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h2>Export Menu</h2>
<a href="/Export/Index" target="_blank">Data User</a> |
<a href="/Export/DownloadExcel" target="_blank">Download Excel</a>
</div>
